@import '../styles.scss';
@import '~include-media/dist/_include-media.scss';

%body {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgba(53,53,53,0.4);
  transition: all 0.3s ease;

  background-image: url('/assets/images/bg-body.jpg');
  //background-position-x: 0;
  //background-position-y: 0;
  background-repeat: no-repeat;
  //-webkit-background-size: cover;
  //background-size: cover;

  //overflow:hidden;
  //min-height: 100%;
  //padding: 10px 0 20px;

}

#wrapper {
  @extend %body;

  @include media('<=xs-phone') {
    padding: 10px 20px 40px 20px;
  }

  @include media('>xs-phone', '<=phone') {
  }

  @include media('>phone', '<=tablet') {
  }

  @include media('>phone', '<=tablet', 'landscape' ) {
  }

  @include media('>tablet', '<=desktop') {
  }

  @include media('>desktop', '<=xs-widescreen') {
  }

  @include media('>xs-widescreen') {
  }

}

#main {
  @extend %clearfix;

  @include media('<tablet') {
    position: relative;
    overflow: visible;
  }
}
