/* You can add global styles to this file, and also import other style files */

@import '~include-media/dist/_include-media.scss';
/* md-material theme */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';


/* font-awesome fonts and style */
$fa-font-path: "~font-awesome-sass/assets/fonts/font-awesome/" !default;
@import "~font-awesome-sass/assets/stylesheets/_font-awesome.scss";


$yellow: #fcb000;
$white: #fff;
$black: #000;
$orange: #fa7f12;

/*
 Begin: Include Media Specifics
*/
$breakpoints: (
  'xs-phone': 320px,
  'phone': 480px,
  'tablet': 768px,
  'desktop': 992px,
  'xs-widescreen': 1025px,
  'widescreen': 1200px
);

$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi)'
) !default;
/*
 End: Include Media Specifics
*/

// clearfix
%clearfix {
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

%font {
  position: absolute;
  left: 0px;
  top: 15px;
  bottom: 0;
  background: $yellow;
  //background: $black;
  color: $white;
  //width: 49px;
  //text-align: center;
  //font-size: 22px;
  //line-height: 46px;
}

/*
   http://fontawesome.io/cheatsheet/
 */
[class^="icon-"] {

  font-family: 'FontAwesome';

  @extend %font;

  @include media('<=xs-phone') {
    width: 20px;
    font-size: 20px;
  }

  @include media('>xs-phone', '<=phone') {
    width: 40px;
    font-size: 40px;
  }

  @include media('>phone', '<=tablet') {
      width: 40px;
      font-size: 40px;
  }

  @include media('>tablet', '<=desktop') {
    width: 80px;
    font-size: 80px;
  }

  @include media('>desktop') {
    width: 100px;
    font-size: 100px;
  }

}



